[flake8]
max-line-length = 80

ignore =
    E501, W503,

    # Ignore Bugbear line-length warning as flake8 handles this
    B950

per-file-ignores =
    # Suppress unused imports in init-files
    */__init__.py:F401

    # Suppress flake8-bandit flagging of 'assert' in tests
    */tests/*:S101

select = ABS, B, B9, BLK, C, E, F, S, SC, T, W

exclude =
    .git,
    __pycache__,
    venv,
